.window {
    font-family: 'Bradley Hand', cursive;
    border: 1px solid lightslategrey;
    width: 800px;
    height: 600px;
    margin: 0 auto;    
    background: rgb(243, 179, 160);
}

.window-header {
      display: inline-block;
      justify-content:space-between;
      background: rgb(243, 179, 160);
      width: 800px;
      height: 70px;
      border-bottom:1px solid lightslategrey;
}

.window-header-topic {
      display: block;
      font-size: 20px;
      font-weight: bold;
      margin: 10px 10px 0 10px;
}

.window-creator-topic {
    display: block;
    font-size: 17px;
    margin-left: 10px;
}

.window-close {
    display: inline-block;
    float: right;
    margin: 5px 10px;
}

.content {
    width: 780px;
    height: 510px;
    overflow-y: scroll;
    padding: 10px;
}

.message {
    display: flex;
}

.message-info {
    display: flex;
    justify-content: center;
    align-items: center;
    background:  rgb(219, 135, 109);
    border-right: 1px solid lightslategrey;  
    flex-basis: 149px; 
    flex-shrink: 0;
}

.message-initial {
    border: 2px solid lightslategrey;
    width:40px;
    height:40px;
    border-radius:50%;
    background: rgb(243, 179, 160);
    display: flex;
    align-items: center;
    justify-content: center
}


.message-date {
    margin-left: 5px;
}

.message-body {
    background: rgb(219, 135, 109);
    padding: 15px;
    flex-grow: 1;
}

.message-name {
    display: inline-block;
    font-size: 18px;
}

.message-text {
    padding: 10px;
    background: rgb(234, 153, 129);
    border: 1px solid black;
}

.creator-name {
    display: inline-block;
    margin-right: 15px;
}

.creator-date {
    display: inline-block;
}